@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Book'), url('ppneuemontreal-book.woff') format('woff');
  }
  @font-face {
    font-family: 'PP Neue Montreal Medium';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Medium'), url('ppneuemontreal-medium.woff') format('woff');
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PP Neue Montreal Medium";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;


}
h1{
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
 }

p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.intro, .outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  color: #fff;
}

.spotlight-intro-text-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  translate: translateY(-50%);
  display:flex;
  gap: 0.5rem;
}

.spotlight-intro-text {
  flex: 1;
  position:relative;
  will-change: transform;
}
.spotlight-intro-text:nth-child(1){
  display: flex;
  justify-content:flex-end;
}
.spotlight-bg-img {
  position:absolute;
  width:100%;
  height:100%;
  overflow: hidden;
  transform: scale(0);
  will-change: transform;
}
.spotlight-bg-img img {
  transform: scale(1.5);
  will-change: transform;
}

.spotlight-titles-container {
    position:absolute;
    top: 0;
    left: 15vw;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path:
    polygon(
      50svh 0px,
      0px 50%,
      50svh 100%,
      100% calc(100% + 100svh),
      100% -100svh
    );
    --before-opacity: 0;
    --after-opacity: 0;
}

.spotlight-titles-container::before,
.spotlight-titles-container::after {
  content:"";
  position: absolute;
  width: 100svh;
  height: 2.5px;
  background: #fff;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.spotlight-titles-container::before {
  top: 0;
  left: 0;
  transform: rotate(-45deg) translate(-7rem);
  opacity: var(--before-opacity);
}
.spotlight-titles-container::after{
  bottom:0;
  left: 0;
  transform: rotate(45deg) translate(-7rem);
  opacity: var(--after-opacity);
}
.spotlight-titles {
  position: relative;
  left: 15%;
  width: 75%;
  height: 100%;
  display:flex;
  flex-direction: column;
  gap: 5rem;
  transform: translateY(100%);
  /* transform: translateY(0); */
  z-index: 2;
}

.spotlight-titles h1 {
  color: #fff;
  opacity: 0.25;
  transition: opacity 0.3s ease;
}
.spotlight-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 300px;
  height: 100%;
  z-index: 2;
  pointer-events:none;
}
.spotlight-img {
  position:absolute;
  width: 200px;
  height: 150px;
  will-change: transform;
}

.spotlight-header {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  transition: opacity 0.3s ease;
  z-index: 2;
  opacity:0;
}
